body {
    background-color: #e5e7eb;
}

.container-visitas {
    margin: 0 auto;
    background-color: white;
    width: 1000px;
    height: 500px;
    display: flex;
    gap: 30px;
    position: relative; 
    top: -30px;
    border-radius: 20px;
}

.topo-do-container {
    display: flex;
    gap: 400px;
}

.topo-do-container h2 {
    padding: 40px;
}

.topo-do-container button {
    width: 200px;
    height: 50px;
    margin-top: 32px;
    padding-bottom: 55px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1a56db;
    border: none;
    color: white;
}
.topo-do-container button a {
    text-decoration: none;
}

.topo-do-container button:hover {
    background-color: #1b4db9;
    transition: 0.2s;

}

.icon-user-plus {
    position: relative;
    top: 10px;
    padding-left: 5px;
    filter: invert();
}

#PaginaVisita {
    color: white;
}

.infos-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute; 
	left: 7%; 
	top: 25%; 
    background-color: #F9FAFB;
    border-radius: 5px;
    padding: 13px ;
    border: 2px solid #e5e7eb;
}

.visitante { 
    padding-right: 100px;
}

.data-visitante{
    padding-right: 100px;
}

.hora-visitante {
    padding-right: 400px;
}

.status-visitante {
    padding-right: 50px;
}

.infos-container p {
    color: #6B7280;
    font-size: small;
}

.next-page {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 46px;
    bottom: 50px;
}

.next-page button {
    border-radius: 5px;
}

.pag-ant {
    width: 80px;
    height: 30px;
    cursor: not-allowed;
    background-color: white;
    border: 1px solid #d1d5db;
}

.pag-ant:hover {
    background-color: #e5e7eb;
    transition: 0.2s;
}

.quant-pag {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #e1effe;
    color: #1a56db;
    border: 1px solid #d1d5db;
}

.quant-pag:hover {
    background-color: #c7dff9;
    transition: 0.2s;
}

.prox-pag {
    width: 80px;
    height: 30px;
    cursor: not-allowed;
    background-color: white;
    border: 1px solid #d1d5db;
}

.prox-pag:hover {
    background-color: #e5e7eb;
    transition: 0.2s;
}

