header {
    padding: 30px;
    display: flex;
    background-color: white;
}

.portaria-logo {  
    width: 150px;
    height: 50px;
    padding-left: 130px;
}

.meunome {
    color: #6B7280;
    padding-left: 850px;
    margin-top: 15px;
}

.avatar {
    width: 50px;
    padding-left: 15px;
    padding-right: 45px;
}

.btn-sair {
    cursor: pointer;
    background-color: white;
    border: 2px solid, #e5e7eb;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

.btn-sair:hover{
    background-color: #e5e7eb;
    transition: 0.2s;
}